/* inicio seccion contacto */

.btn-primary{
    background-color: #4ecdc4ff;
    color: black ;
    padding: 15px 25px; 
    margin: 10px;
    border-radius: 5px;
    border: grey;
    }
    
    .col-md-6{
        padding: 12px 12px 12px 0;
        letter-spacing: 4px;
        font-size: 1rem;
    }
    
    .form-label{
        font-family: 'Poppins', sans-serif;
        font-weight: 15px;
    }
    
    .formularios{
        width: 75%;
        height: auto;
        padding: 3rem;
    }