@import "generales";
@import "variables";
@import "productos";
@import "mayoristas";
@import "envios";
@import "contacto";
@mixin dimensiones ($ancho , $alto) {
    width: $ancho;
    height: $alto;
}
.flexcolum{
    display: flex;
    flex-direction: column;
}

/* inicio index */

/* inicio header */
.headerf{
    @include dimensiones (100%,12vh);
    width: 100%;
    height: 12vh;
    font-weight: 400;
    font-size: large;
    background-color: #1a535cff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: $align;
}
.logo img{
    margin: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    background-color: $fondo
}
.navf{
    display: flex;
    align-items: $align;
    margin: 0;
    padding: 0;
    @include dimensiones (100%,3rem);
    background-color: $fondo;
}
.secciones{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.secciones li a{
    text-decoration: none;
    color: #ffffffff;

}

/* fin header */

/* inicio publicidad */

.Mainpublicidad{
    @extend .flexcolum;
    align-items: $align;
    color: black;
    font-style: normal;
    font-weight: holder;
    font-size: 1rem;
    line-height: normal;
}
.fotcarr{
    height: 30rem;
}

.Mainpublicidad div p{
    font-size: larger;
}
/* fin publicidad */

/* inicio productos en promocion */
.promociones{
    display: flex;
    justify-content: center;
    font-size: larger;
    color: black;
    background-color:#4ecdc4ff;
    padding: 2rem;
    font-weight: 900; 
    margin-top: 2rem;   
}

.Mates{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "1erproducto 2doproducto"
    "3erproducto 4toproducto";
    align-items: $align;
    justify-items: center;
    margin: 3rem;
}

.Mates div{
    @extend .flexcolum;
    align-items: $align;
    margin: 2rem ;
    font-family: 'Poppins';
    font-size: x-large;
    padding: 1rem;
    border-style: ridge;
    background-color: #ffffffff;
    @include dimensiones (70%,auto);
    font-weight: bold;
}

/* fin productos en promocion */

/* inicio footer */

.footerf{
    font-size: large;
    font-weight: bolder;
    color: white;
    background-color: $fondo;
    padding-top: 1rem;
    display: grid;
    grid-template-areas: 
    "mdp     mdp"
    "redes   subs"
    "dres    dres"
    ;
    align-content: space-between;
    
}
.mdp{
    grid-area: mdp;
    @extend .flexcolum;
    align-items: $align;
}
.mdp img{
    width: 75%;
}

.subs{
    font-size: large;
    grid-area: subs;
    @extend .flexcolum;
    align-items: flex-end;
    padding-right: 2rem;
}
.redes{
    grid-area: redes;
    @extend .flexcolum;
    padding-left: 2rem;
}
.dres{
    grid-area: dres;
    font-size: medium;
    @extend .flexcolum;
    align-items: $align;
}
/* fin footer */
/* fin index */




