@import "generales";
@import "variables";
@import "productos";
@import "mayoristas";
@import "envios";
@import "contacto";
@mixin dimensiones ($ancho , $alto) {
    width: $ancho;
    height: $alto;
}
.flexcolum{
    display: flex;
    flex-direction: column;
}

/* inicio index */

/* inicio header */
.headerjs{
    nav{
        padding: 0%;
        div{
            background-color: $fondo;
            color: white;
            div{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                h1{
                    letter-spacing: 1px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-weight: 800;
                }
                div{
                    ul{
                        li{
                            padding-left: 2rem;
                            padding-right: 2rem;
                            a{
                                color: white;
                                font-weight: 800;
                                font-size:x-large;
                            }
                        }
                    }
                }
            }
        }
    }
}

.logo{
    margin: 0;
    padding: 0;
    width: 6rem;
    height: 6rem;
}
.prodropdown{
    background-color: $fondo;
    li{
        a{
            text-decoration: none;
        }
    }
    color: grey
}

/* fin header */

/* inicio publicidad */

.Mainpublicidad{
    @extend .flexcolum;
    align-items: $align;
    color: black;
    font-style: normal;
    font-weight: holder;
    font-size: 1rem;
    line-height: normal;
}
.fotcarr{
    height: 30rem;
}

.Mainpublicidad div p{
    font-size: larger;
}
/* fin publicidad */

/* inicio productos en promocion */
.promociones{
    display: flex;
    justify-content: center;
    font-size: larger;
    color: black;
    background-color:#4ecdc4ff;
    padding: 2rem;
    font-weight: 900; 
    margin-top: 2rem;   
}

.Mates{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "1erproducto 2doproducto"
    "3erproducto 4toproducto";
    align-items: $align;
    justify-items: center;
    margin: 3rem;   
}


.Mates div{
    @extend .flexcolum;
    align-items: $align;
    margin: 2rem ;
    font-family: 'Poppins';
    font-size: x-large;
    padding: 1rem;
    border-style: ridge;
    background-color: #ffffffff;
    @include dimensiones (70%,auto);
    font-weight: bold;
}

.Mates div img{
    width: 100%;
}
 

/* fin productos en promocion */

/* inicio footer */

.footerf{
    font-size: medium;
    font-weight: bolder;
    color: white;
    background-color: $fondo;
    padding-top: 1rem;
    display: grid;
    grid-template-areas: 
    "mdp      mdp     subs"
    "redes    dres    subs"
    ;
    align-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
}

.mdp{
    grid-area: mdp;
    @extend .flexcolum;
    align-items: flex-start
}

.mdp p{
    padding-left: 2rem;
}

.mdp img{
    width: 60%;
    padding-left: 1rem;
}

.subs{
    font-size: large;
    grid-area: subs;
    @extend .flexcolum;
    align-items: flex-end;
    padding-right: 2rem;
    
}
.redes{
    grid-area: redes;
    @extend .flexcolum;
    padding-left: 2rem;
}
.dres{
    grid-area: dres;
    @extend .flexcolum;
    justify-content: flex-end;
}

.dres p{
    font-size: small;
    height: 100;
    margin: 0;
}

/* fin footer */
/* fin index */

/* movile */
@media screen and (max-width: 600px){
.Mates{
    
        display: flex;
        flex-direction: column;
}
.Yerbamate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}

/* Tablet*/
@media screen and (max-width: 800px){
.Mates{
    margin: 0;
}
.Mates div img{
   width: 100%;
}
.Mates div{
    margin-top: 1rem;

}
.Yerbamate{
    display: grid;
    grid-template-areas: 
    "y1erp    y2dop"  
    "y3erp    y4top"
    "y5top    y6top"
    ;   
}

.Yerbamate div{
    padding: 0;
    width: auto;
    margin: 1rem;
}
.Yerbamate div img{
    width: 100%;
}

.mdp p{
    font-size: auto;
}
.mdp img{
    width: 100%;
}
.redessociales img{
    width: 20%;
}

.subs{
    font-size: medium;
    width: 80%;
    padding: 0;
}

.subs section{
    display: flex;
    flex-direction: column;
    width: 86%;
}
.subs section input{
    width: 80%;
    height: 85%;
}
}
 
