*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    font-family: "Titan One";
}
/* inicio index */

/* inicio header */
.headerf{
    width: 100%;
    height: 15vh;
    font-weight: 400;
    font-size: large;
    background-color: #1a535cff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
}
.logo img{
    margin: 0;
    padding: 0;
    width: 4rem;
    height: 4rem;
    background-color: #1a535cff;
}
.navf{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 4rem;
    background-color: #1a535cff;
}
.secciones{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

.secciones li a{
    text-decoration: none;
    color: #ffffffff;

}

/* fin header */

/* inicio publicidad */
/* aqui van a ir animaciones lo que esta puesto es momentaneo */
.Mainpublicidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-style: normal;
    font-weight: holder;
    font-size: 1rem;
    line-height: normal;
}
/* fin publicidad */

/* inicio productos en promocion */
.promociones{
    display: flex;
    justify-content: center;
    font-size: larger;
    color: black;
    background-color:#4ecdc4ff;
    padding: 2rem;
    font-weight: 900;    
}

.Mates{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "1erproducto 2doproducto"
    "3erproducto 4toproducto";
    align-items: center;
    justify-items: center;
    margin: 3rem;
}

.Mates div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem ;
    font-family: 'Poppins';
    font-size: x-large;
}

/* fin productos en promocion */

/* inicio footer */

.footerf{
    font-size: larger;
    font-weight: bolder;
    color: white;
    background-color: #1a535cff;
    padding-top: 1rem;
    display: grid;
    grid-template-areas: 
    "mdp     mdp"
    "redes   subs"
    "dres    dres"
    ;
    align-content: space-between;
    
}
.mdp{
    grid-area: mdp;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mdp img{
    width: 100%;
}

.subs{
    font-size: large;
    grid-area: subs;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 2rem;
}
.redes{
    grid-area: redes;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}
.dres{
    grid-area: dres;
    font-size: medium;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* fin footer */
/* fin index */

/* inicio seccion envios */
.bodyform{
    background-color: #f7fff7ff;
}

.Encabezados{
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    background-color: #4ecdc4ff;
    justify-content: center;
    color: darkslategrey;
    padding: 1rem;
}
.envioscuerpo{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-family: Arial;
}
.empresasenvios{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 2rem;
}
.envioscuerpo p{
    padding: 1rem;
    font-size: larger;
}
.empresasenvios div{
    width: 33%;

}
.empresasenvios div img{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
}
/* fin seccion envios */

/* inicio seccion mayoristas */

.formularios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: bolder;
    margin: 10px;
    padding: 26px;
    border: 5px;
    border-color: black;
    border-style: double;
    width: 40vw;
    height: auto;
    margin-bottom: 40px;
}
.formayo{
    line-height: 2;
    font-size: larger;
}
.textomayo{
    padding: 1rem;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}
/* fin seccion mayorista */

/* inicio seccion productos */
.mainsproductos{
    display: flex;
    padding: 20px;
    margin: 10px;    
    font-weight: bold;
    font-size: 30px;
    color: #f7fff7ff;
    background-color: #1a535cff;
    align-content: space-around;
    justify-content: space-around;    
}
.Yerbamate{
    display: grid;
    grid-template-areas: 
    "y1erp    y2dop    y3erp"
    "y4top    y5top    y6top"
    ;
       
}
.Yerbamate div{
    padding: 1rem;
    margin: 1rem;
    background-color: #ffffffff;
    width: 70%;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgmates{
    width: 18rem;
    height: 24rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}